.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #065f33;
}

.sidebar ul {
  display: grid;
  list-style-type: none;
  gap: 10px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template: auto / 3fr 2fr;
  padding: 25px;
}

input {
  width: 100%;
  border-radius: 10px;
}

img.avatar  {
  aspect-ratio: 1;
  width: 100%;
}

.userinfo {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.banner {
  display: grid;
  grid-template: 1fr 1fr / 1fr 4fr;
}

.banner img {
  grid-row: 1 /3;
}

p.greeting {
  font-size: 0.7rem;
}

p.user {
  font-weight: bold;
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 15px;
  padding: 15px;
  background-color: #b0c2b9;
}

.projects {
  grid-row: 1 / 3;
}

.announcements {
  grid-row: 1 / 2;
}

.trending {
  grid-row: 2 / 3;
}

.deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.deck .card {
  background-color: #FFFFFF;
  height: 200px;
  text-align: center;
  box-shadow: 5px 5px 5px #29312d;
  border-radius: 5px;
  border-left: solid thick #065f33;
}

.shelf {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #29312d;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
}

.trending-project {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.trending-project img {
  grid-row: 1 / 3;
}